body {
  background: #272934;
  margin: 0;
}

#header {
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo-discord{
  font-size: 35px;
  padding-top: 17px;
  padding-bottom: 0px;
}

#nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
  list-style: none;
}

#nav ul li a {
  color: white;
  text-decoration: none;
}

.links{
  padding: 10px 10px;
  font-size: 14px;
}

.links:hover{
  background: #3E3F48;
  border-radius: 8px;
  transition: background .2s;
}

h1 {
  font-size: 56px;
}

#caixa {
  padding: 100px 40px 24px 1rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#botões {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}

#botões :hover {
  background: #3994FF;
  transition: background .2s;
}

.bg {
  background: #3E3F48;
  border-radius: 8px;
  padding: 10px 10px;
  justify-content: center;
  text-decoration: none;
}
